.container {
  margin: 0 auto;
  width: 1330px;
  // padding: 0 1.0875rem 1.45rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
}

.main {
  grid-column: 1 / span 3;
}

.aside {
  grid-column: span 1;
}

@media (max-width: 700px) {
  .main,
  .aside {
    grid-column: 1 / span 5;
  }
}

.main,
.aside {
}
