nav {
  order: 1;
}

.nav__links {
  list-style: none;

  li {
    display: inline-block;
    padding: 0 20px;
  }
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;

  a {
    transition: all 0.3s ease 0s;

    &:hover {
      color: rgba(51, 51, 51, 0.6);
    }
  }
}
