.aside {
  padding: 0 15px;

  .single-widget {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;

    .widget-title {
      border-bottom: 1px solid #e5e5e5;
      color: #333333;
      display: inline-block;
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      padding-bottom: 7px;
      position: relative;
      text-transform: uppercase;
    }
    .post-cat-list {
      li {
        border-bottom: 1px solid #e5e5e5;

        a {
          color: #666;
          display: block;
          padding: 10px 0;
          text-transform: capitalize;
        }
        &:last-child {
          border-bottom: 0px;
        }
      }
    }
  }
}
