%btn {
  display: inline-block;
  border-radius: 2px;
  padding: 8px 20px;
  margin: 3px;
  transition: all 0.3s ease 0s;
}

.btn-primary {
  @extend %btn;
  border: 1px solid #c1c1c1;
  color: #222222;

  &:hover {
    border: 1px solid $primary-color;
  }
}

// ligthen(#color, %)
// darken(#color, %)
