.showcase {
  @include set-background($primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.post-card {
  border: 1px solid #ededed;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease 0s;

  &__image {
    overflow: hidden;
  }

  &__content {
    overflow: hidden;

    .content-title {
      a {
        font-weight: bold;
        color: #000;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .content-info {
      font-size: 13px;
    }

    .content-description {
      margin: 15px 0;
    }
  }
}
