* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: $primary-color;
  font-family: $font-stack;
  line-height: 1.6;
}

a,
li,
button {
  font-family: $font-stack;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  li {
    list-style: none;
  }
}
